.tieuDeBL{
    color: #1c1e21;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    border-bottom: 1px solid #c7c8c9;
    padding-bottom: 30px;
  }
  @media (max-width: 375px) {
    .table-responsive {
      overflow-x: auto;
    }
  
    .table {
      width: 100%;
      white-space: nowrap;
    }
  
    .table th,
    .table td {
      white-space: normal;
    }
    // .tableusercmt th:nth-child(5),
    // .tableusercmt td:nth-child(5) {
    //   display: none;
    // }
    
    // .tableusercmt th:nth-child(6),
    // .tableusercmt td:nth-child(6) {
    //   display: none;
    // }
  
  }
  @media (max-width: 576px){
    .tableusercmt th:nth-child(2),
    .tableusercmt td:nth-child(2) {
      display: none;
    }
    .tableusercmt th:nth-child(4),
    .tableusercmt td:nth-child(4) {
      display: none;
    }
  }
  @media (max-width: 992px){
    .tableusercmt th:nth-child(1),
    .tableusercmt td:nth-child(1) {
      display: none;
    }
  }