.tenPhong{
    font-size: 26px;
    font-weight: 500;
}
.diaDiem{
    font-size: 14px;
    color: black;
    font-weight: 600;
    text-decoration: underline;
}
.hinhAnh{
    width: 100%;
    height: 324px;
    border-radius: 10px;
}