@import "../../../../../index.scss";
.createBooking {
  h2 {
    @extend .titleAdmin;
  }
  .body {
    margin: 3px;
    border-radius: 4px;
    background-color: $bg-pink-color;
    border: solid 1px $header-border-color;
    .container {
      color: $text-dark-color !important;
      .add {
        @extend .btnPrimary;
      }
      .imgPreview {
        margin-top: 5px;
        width: 100px;
        border-radius: 4px;
        border: solid 1px $header-border-color;
      }
    }
  }
}
