ul{
    list-style: none;
    padding: 0px;
    .chinhSua{
        color: #1c1e21;
        font-size: 15px;
        font-weight: 600;
        line-height: 20px;
        padding-right: 5px;
        width: 190px;
    }
    .name{
        margin-right: 100px;
        color: #1c1e21;
        font-size: 15px;
        font-weight: 600;
        line-height: 20px;
        padding-right: 5px;
        width: 190px;
    }
    .email{
        margin-right: 90px;
        color: #1c1e21;
        font-size: 15px;
        font-weight: 600;
        line-height: 20px;
        padding-right: 5px;
        width: 190px;
    }
    .password{
        margin-right: 65px;
        color: #1c1e21;
        font-size: 15px;
        font-weight: 600;
        line-height: 20px;
        padding-right: 5px;
        width: 190px;
    }
    .phone{
        margin-right: 37px;
        color: #1c1e21;
        font-size: 15px;
        font-weight: 600;
        line-height: 20px;
        padding-right: 5px;
        width: 190px;
    }
    .role{
        margin-right: 10px;
        color: #1c1e21;
        font-size: 15px;
        font-weight: 600;
        line-height: 20px;
        padding-right: 5px;
        width: 190px;
    }
}