@import "../../../../index.scss";

.input {
  margin-bottom: 10px;
  span {
    width: 10rem;
  }
}
.cursor {
  cursor: pointer;
}
.btn {
  @extend .btnPrimary;
}
.btn2 {
  @extend .btnSecondary;
}
.hidden{
  display: none;
}
.show{
  display: block;
}
