$pink-primary:rgb(255, 56, 92);
$blue-color:#0ca5e9;

$bg-pink-color: #fef1f6;
$bg-light-color: #fafafa;
$bg-dark-color: #262626;
$bg-13-yellor-color: #ddbc3e;
$bg-16-yellor-color: #e88022;
$bg-18-red-color: #9b211f;
$bg-P-green-color: #579b42;


$text-dark-color: #525252;
$text-dark-hover-color: #181818;
$text-secondary-color: #a3a3a3;

$header-border-color: rgb(226 232 240);